*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

/* menu fisso */

header{
  position:relative;
}

nav{
  position: fixed;
  right: 20px;
  top:50px;
  z-index: 3;
}

span{
  display: inline-block;
  margin-right: 40px;
  font-size: 20px;
  background-color: #FFFFFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

a{
  text-decoration: none;
  color: #000000;
}

span:hover{
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
}

span:active{
  background-color: #808080;
}

/* corspo del sito */

section{
  text-align: center;
  height: 100vh;
  text-transform: uppercase;
  color:#FFFF00 ;
  font-size: 4vh;
  position: relative;
}

div{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

section div img{
  width: 100%;
}

#scarpa-one{
  background-color: #FF0000;
}

#scarpa-two{
  background-color:#008000 ;
}
#scarpa-tree{
  background-color:#FFFF00;
  color:#008000 ;
}