*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* menu fisso */

header{
  position:relative;
}

nav{
  position: fixed;
  right: 20px;
  top:50px;
  z-index: 3;
}

span{
  margin-right: 40px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 10px 20px;
  box-shadow: none;
}

a{
  text-decoration: none;
  color: #000000;
}

span:hover{
  box-shadow: 3px 3px 6px #000000;
}

/* corspo del sito */

section{
  text-align: center;
  height: 100vh;
  text-transform: uppercase;
  color:#FFFF00 ;
  font-size: 5vh;
  position: relative;
}

div{
  padding-top: 15vh ;
}

#scarpa-one{
  background-color: #FF0000;
}

#scarpa-two{
  background-color:#008000 ;
}
#scarpa-tree{
  background-color:#FFFF00;
  color:#008000 ;
}